/*	General  */
@font-face {
    font-family: 'open_regular';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.ttf') format('truetype'),
         url('../fonts/opensans-regular.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_bold';
    src: url('../fonts/opensans-bold.eot');
    src: url('../fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold.woff') format('woff'),
         url('../fonts/opensans-bold.ttf') format('truetype'),
         url('../fonts/opensans-bold.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_semibold';
    src: url('../fonts/opensans-semibold.eot');
    src: url('../fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold.woff') format('woff'),
         url('../fonts/opensans-semibold.ttf') format('truetype'),
         url('../fonts/opensans-semibold.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	background: #faf9f9;
	padding: 0px;
	margin: 0px;
}

a:focus{
	color: #fff!important;
	text-decoration: none!important;
}

.container{
	max-width: 1130px;
}

/*  Header  */
header{
	position: relative;
	display: block;
	width: 100%;
	height: 100px;
	z-index: 99;
	background-color: #30addf;
}

header .logo{
	display: table-cell;
	margin: 30px 30px 0 0;
}

header nav{
	margin-top: 38px;
	display: table-cell;
}

header nav li{
	float: left;
	margin-left: 20px;
}

header nav li a{
	color: #fff;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 16px;
	transition: all .2s linear;
}

header nav li a:hover,
header nav li a:focus{
	text-decoration: none;
	color: #97d4ee!important;
}

/*	Intro  */
.intro{
	display: block;
	position: relative;
	width: 100%;
	height: 700px;
	background: url('../img/ottawa.jpg') no-repeat fixed center center;	
	background-position: left;
	background-size: cover;
}

.intro .caption{
	position: absolute;
	max-width: 550px;
	margin-left: 80px;
	top: 30%;
	transform:translate(0,-50%);
}

.intro .caption h1{
	color: #525252;
	font-family: "open_bold", Helvetica, Arial, sans-serif;
	font-size: 34px;
	font-weight: bold;
	word-break: break-word;
}

.intro .caption p{
	color: #6d6c6c;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 30px;
	margin: 15px 0 0 0;
}

a.download{
	display: inline-block;
	text-decoration: none;
	padding: 15px 40px;
	border: 2px solid #525252;
	border-radius: 2px;
	margin: 20px 20px 10px 0;
	color: #525252;
	font-family: "open_semibold", Helvetica, Arial, sans-serif;
	font-size: 17px;
	transition: all .2s linear;
}

.android_icon{
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-right: 20px;
	margin-bottom: 3px;
	transition: all .2s linear;
	background: url('../img/android_app.png') no-repeat;
}

a.download:hover, a.download:focus{
	border-color: #30addf;
	color: #30addf!important;
}
a.download:hover .android_icon{
	background: url('../img/android_app_hover.png') no-repeat;
}

/*	About  */

.about{
	padding: 100px 0;
	background-color: #F9F9F9;
}

.about .iphone{
	max-width: 300px;
	position: relative;
	display: inline-block;
	text-align: center;
}

.about .iphone img{
	width: 100%;
	height: auto;
}

.about .features{
	margin-left: 40px;
}

.about .features h1{
	color: #525151;
	font-family: "open_bold", Helvetica, Arial, sans-serif;
	font-size: 30px;
	font-weight: bold;
	line-height: 46px;
	margin: 0 0 10px 0;
	word-break: break-word;
}

.about .features p{
	color: #767272;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin-bottom: 25px;
	line-height: 32px;
}

.about .features ul{
	margin-bottom: 10px;
}

.about .features ul li{
	display: block;
	position: relative;
	color: #6c6c6c;
	font-family: "open_semibold", Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 44px;
	margin-bottom: 10px;
}

.about .features span{
	margin-left: 45px;
	line-height: 25px;
	display: inline-block;
}

.about .features ul li.camera_icon{	
	background: url('../img/icon1.png') no-repeat;
	background-size: 24px 20px;
	background-position: left center;
}

.about .features ul li.info_icon{	
	background: url('../img/icon2.png') no-repeat;
	background-size: 24px 20px;
	background-position: left center;
}

.about .features ul li.location_icon{	
	background: url('../img/icon3.png') no-repeat;
	background-size: 24px 20px;
	background-position: left center;
}

.about .features ul li.calendar_icon{	
	background: url('../img/icon4.png') no-repeat;
	background-size: 24px 20px;
	background-position: left center;
}


/*	Categories */
.categories{
	width: 100%;
	padding: 100px 0 50px 0;
	background-color: #30addf;
}

.categories h1{
	color: #fff;
	text-align: center;
	font-family: "open_bold", Helvetica, Arial, sans-serif;
	font-size: 27px;
	margin-bottom: 50px;
}

.categories img{
	max-width: 90px;
	max-height: 90px;
	margin-bottom:10px;
}

.categories .container {
	width: 100%;
	height: 100%;
}

.categories .icons{
	width: 25%;
	height: 60px;
	margin: 0;
	text-align: center;
	float: left;
	color: #fff;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 20px;
	margin-bottom: 120px;
}


/*	Help  */
.help{
	padding: 60px 0;
	background-color: #F9F9F9;
}

.help .instructions{
	max-width: 100%;
	margin: 0 auto;
}

.help .instructions h1{
	color: #525252;
	font-family: "open_bold", Helvetica, Arial, sans-serif;
	font-size: 34px;
	font-weight: bold;
	word-break: break-word;
}

.help .instructions li{
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 20px;
}

/*	Feedback  */
.feedback{
	width: 100%;
	padding: 60px 0;
	text-align: center;
	background-color: #30addf;
}

.feedback p{
	color: #fff;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 20px;
	margin-bottom: 10px;
}

/*	 Footer  */

.footer{
	padding: 40px 0;
	text-align: center;
	background-color: #F9F9F9;
}

.footer .website{
	margin-top: 40px;
	color: #757171;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 15px;
	letter-spacing: .5px;
}